
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --faded-purple:#D9D1FF;
    --button-color: #634AFF;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* login page css */
form{
background-color: #D9D1FF;
padding: 40px 40px;
border-radius: 3px;
text-align: center;
}

.help-logo{
width: 200px;
height: 100px;
}

#loginsection{
    width: 100%;
    height: 100vh;
    padding: 50px 50px;
}

#loginsection .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
form .div{
    text-align: left;
    margin-top: 20px;
}

.login{
    margin-bottom: 40px;
}
.input-logo{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0px 20px;
    padding-left: 10px;
    border-radius: 3px;
    width:350px

}

.input-logo input{
    height: 35px;
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    
}
.submit{
    width: 150px;
    padding: 7px;
    margin-top: 40px;
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 3px;
    transition: all ease 0.5s;
}
.submit:hover{
    background-color: #624affbb;
}
.account{
    margin-top: 20px;
    font-size:14px;
}
.link{
    color: var(--button-color);
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}
@media screen and (max-width: 453px ){
    .input-logo{
        width: 100%;
    }
    .login-text{
        font-size: 13px;
    }
    form{
        padding: 50px 20px;
    }
    #loginsection{
        padding: 50px 20px;
    }
    .no-account{
        font-size: 13px;
    }
    .submit{
        width: 100%;
    }
}


/* signup css */


