:root{
    --faded-purple:#D9D1FF;
    --button-color: #634AFF;
    --backgrounds: #C4BCFF;
    --hover-color:var(--hover-color);
}

.circle{
    height: 60px;
    width: 60px;
    background-color: var(--faded-purple);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.allstats{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    
}

.stat{
    height: 150px;
    background-color: var(--backgrounds);
    border-radius: 5px;
    padding: 14px 12px;
}

.statname{
    margin-top: 5px;
    font-size: 18px; 
    font-weight: 500;
}

.statvalue{
    font-size: 22px;
    font-weight: 600;
}